@import com.vestniklas.ponos.model.Post
@(posts: Iterable[Post])
@partial.html.page("Blog Posts") {
    <h1>Nik's Blog Posts</h1>
    <ul>
    @for(post <- posts) {
        <li><a href="/post/@{post.id}">@post.title</a>@@ @post.date</li>
    }
    </ul>
}
