@import com.vestniklas.ponos.model.Post
@(post: Post)
@partial.html.page(post.title) {
    <h1>@post.title</h1>
    <strong>@post.date</strong> | <em>@{post.tags.mkString(", ")}</em>
    <hr/>
    @post.content
}
